<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head.ejs") %>
  <link rel="stylesheet" href="/stylesheets/lga-results.css">
  <title>Document</title>
</head>

<body>
  <%- include("../partials/navbar.ejs") %> 
  <div class="container d-flex justify-content-center mt-5">
    <div class="card" style="width: 18rem">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          LGA Name <br> <%= result_data.lga_name %>
          <hr>
          Total Votes <br> <%= result_data.score %>
        </li>
      </ul>
    </div>
  </div>
  <%- include("../partials/bs-script.ejs") %>
</body>

</html>